.dialog-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.close-button {
  background-color: #dc2626;
  color: white;
  padding: 1px 6px;
  font-size: 20px;
  font-weight: 500;
  border-radius: 4px;
}

::ng-deep .mat-dialog-container {
  padding-bottom: 0px;
}

mat-dialog-content {
  display: flex;
  flex-direction: column;
  width: 700px;
  height: 115px;
}

mat-dialog-actions {
  display: flex;
  gap: 8px;
}

.delete-button {
  background-color: #dc2626;
  color: white;
  padding: 6px 10px;
  font-size: 15px;
  font-weight: 500;
  border-radius: 4px;
}

.cancel-button {
  color: #22d3ee;
  padding: 6px 10px;
  font-size: 15px;
  font-weight: 500;
  border-radius: 4px;
}

@media only screen and (max-width: 768px) {
  mat-dialog-content {
    width: 600px;
  }
}

@media only screen and (max-width: 600px) {
  ::ng-deep .mat-dialog-container {
    padding-top: 16px;
  }

  mat-dialog-content {
    width: 300px;
    height: 140px;
  }
}

@media only screen and (max-width: 400px) {
  mat-dialog-content {
    width: 300px;
  }
}
