mat-toolbar {
  background-color: white;
  padding: 0px 36px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  gap: 1px;
}

.title {
  color: black;
  padding: 0px 8px;
  font-weight: bold;
  font-size: x-large;
}

.userinfo {
  color: black;
  font-size: medium;
  display: flex;
  align-items: center;
  gap: 40px;
}

.logout {
  background-color: #6c5dd3;
  padding: 3px 20px;
  font-size: 15px;
  color: white;
  border-radius: 8px;
}

@media only screen and (max-width: 1200px) {
  mat-toolbar {
    padding: 0px 24px;
  }

  .userinfo {
    gap: 20px;
  }
}

@media only screen and (max-width: 600px) {
  mat-toolbar {
    padding: 0px 24px;
  }

  .userinfo {
    gap: 10px;
  }
}

@media only screen and (max-width: 400px) {
  mat-toolbar {
    padding: 0px 16px;
  }

  .title {
    display: none;
  }

  .userinfo {
    font-size: small;
    font-weight: bold;
    gap: 8px;
  }

  .logout {
    padding: 1px 8px;
    font-size: 12px;
    font-weight: normal;
  }
}
