<div class="dialog-header">
  <h2 mat-dialog-title>{{ heading }}</h2>
  <button mat-raised-button class="close-button" (click)="close()">
    <span>&times;</span>
  </button>
</div>
<mat-dialog-content>
  <h3>{{ body }}</h3>
  <mat-dialog-actions>
    <button
      mat-raised-button
      class="delete-button"
      (click)="deleteTask(data.task.id)"
    >
      Delete
    </button>
    <button mat-raised-button class="cancel-button" (click)="close()">
      Cancel
    </button>
  </mat-dialog-actions>
</mat-dialog-content>
