.content {
  display: flex;
}

.form-content {
  padding: 150px 225px;
  width: 50%;
}

.fields {
  display: grid;
  gap: 16px;
}

.router-container {
  text-align: center;
}

.router-text {
  font-size: 14px;
  font-weight: 800;
}

.button-container {
  padding: 18px 0px;
}

.button {
  background-color: #4d47c3;
  padding: 18px 24px;
  font-size: medium;
  color: white;
  border-radius: 8px;
  width: 100%;
}

.response-container {
  width: 100%;
  background-color: #f8c9ca;
  padding: 12px 16px;
  border-radius: 8px;
  text-align: center;
}

.response {
  color: #b91c1c;
}

.side-content {
  flex: 1;
  padding: 225px 0px 0px 200px;
  width: 50%;
}

.first-line {
  font-size: 48px;
  font-weight: 600;
}

.icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 40px 0px;
  gap: 8px;
}

.title {
  font-size: 36px;
  font-weight: 500;
}

.op-text {
  font-size: xx-large;
  font-weight: 500;
  padding: 24px 0px;
}

.app-name {
  font-weight: bold;
}

.promo {
  display: flex;
  flex-direction: row;
  font-size: medium;
  font-weight: 500;
}

.promo-text {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.router {
  cursor: pointer;
  color: #4d47c3;
  font-weight: bold;
}

@media only screen and (max-width: 1536px) {
  .form-content {
    padding: 150px 125px;
  }

  .side-content {
    padding: 225px 0px 0px 125px;
  }
}

@media only screen and (max-width: 1200px) {
  .form-content {
    padding: 150px 100px;
  }

  .side-content {
    padding: 225px 0px 0px 75px;
  }
}

@media only screen and (max-width: 992px) {
  .content {
    flex-direction: column;
    place-items: center;
  }

  .form-content {
    max-width: 500px;
    padding: 125px 0px;
    width: 100%;
  }

  .side-content {
    display: none;
  }
}

@media only screen and (max-width: 400px) {
  .form-content {
    max-width: 325px;
    padding: 75px 0px;
  }

  .op-text {
    font-size: x-large;
  }

  .button {
    padding: 10px 24px;
  }
}
