.content {
  display: flex;

  .form-content {
    padding: 64px 176px;
    width: 50%;

    form {
      p {
        font-size: xx-large;
        font-weight: 500;
      }

      .fields {
        display: flex;
        flex-direction: column;

        .field {
          display: flex;
          flex-direction: column;
          padding: 10px 0px;

          .button {
            padding: 10px 0px;
          }
        }

        .login {
          padding: 18px 0px;

          .button {
            background-color: #4d47c3;
            padding: 18px 24px;
            font-size: medium;
            color: white;
            border-radius: 8px;
            width: 100%;
          }
        }
      }
    }
  }

  .side {
    flex: 1;
    width: 50%;

    .heading {
      padding: 128px 176px 0px;
      display: flex;
      flex-direction: column;

      p {
        font-size: 50px;
        font-weight: 600;
      }

      .icon {
        display: flex;
        flex-direction: row;
        padding: 40px 0px;
        display: flex;
        align-items: center;
        gap: 8px;

        p {
          font-size: xx-large;
          font-weight: 500;

          span {
            font-weight: bold;
          }
        }
      }

      .mascot {
        display: flex;
        flex-direction: row;
        font-size: medium;

        .register-router {
          cursor: pointer;
          color: #4d47c3;
          font-weight: bold;
        }
      }
    }
  }
}
