.content {
  display: flex;
}

.form-content {
  padding: 150px 225px;
  width: 50%;
}

.fields {
  display: grid;
  gap: 16px;
}

.router-container {
  text-align: center;
}

.router-text {
  font-size: 14px;
  font-weight: 800;
}

.button-container {
  padding: 18px 0px;
}

.button {
  background-color: #4d47c3;
  padding: 18px 24px;
  font-size: medium;
  color: white;
  border-radius: 8px;
  width: 100%;
}

.response-container {
  width: 100%;
  background-color: #f8c9ca;
  padding: 12px 16px;
  border-radius: 8px;
  margin: 8px 0px;
}

.response {
  color: #b91c1c;
}

.side-content {
  flex: 1;
  padding: 225px 0px 0px 200px;
  width: 50%;
}

.heading {
  display: flex;
  flex-direction: column;
}

p {
  font-size: 48px;
  font-weight: 600;
}

.icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 40px 0px;
  gap: 8px;
}

.title {
  font-size: 36px;
  font-weight: 500;
}

.op-text {
  font-size: xx-large;
  font-weight: 500;
  padding: 24px 0px;
}

span {
  font-weight: bold;
}

.promo {
  display: flex;
  flex-direction: row;
  font-size: medium;
  font-weight: 500;
}

.promo-text {
  display: flex;
  flex-direction: column;
}

.router {
  cursor: pointer;
  color: #4d47c3;
  font-weight: bold;
}
