<div class="content">
  <div class="side">
    <div class="heading">
      <p>Logging in to</p>
      <div class="icon">
        <img src="assets/icons/logo.png" />
        <p class="title"><span>Task Tracker</span> is simple</p>
      </div>
      <div class="mascot">
        If you don't have an account
        <span class="register-router" [routerLink]="['/user/signup']"
          >Register now!</span
        >
        <img src="assets/img/mascot.png" />
      </div>
    </div>
  </div>
  <div class="form-content">
    <form [formGroup]="loginForm" (ngSubmit)="loginUser()">
      <p>Login</p>
      <div class="fields">
        <mat-form-field class="field">
          <mat-label for="email">Email</mat-label>
          <input
            matInput
            class="input"
            type="email"
            placeholder="Enter email..."
            formControlName="email"
            id="email"
            name="email"
          />
        </mat-form-field>
        <mat-form-field class="field">
          <mat-label for="password">Password</mat-label>
          <input
            matInput
            class="input"
            type="password"
            placeholder="Enter password..."
            formControlName="password"
            id="password"
            name="password"
          />
        </mat-form-field>
        <div *ngIf="errorResponse">
          <strong>{{ errorResponse }}</strong>
        </div>
        <div class="login">
          <button
            mat-raised-button
            class="button"
            [disabled]="loginForm.invalid"
          >
            Login
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
