<div class="container">
  <div class="add-button-container">
    <button mat-raised-button color="primary" (click)="openDialogToAdd()">
      <mat-icon>add</mat-icon>
      New Task
    </button>
  </div>
  <div class="task-cols">
    <div class="task-col">
      <app-tasks [tasks]="(taskService.todoTasks$ | async)!" [title]="'To Do'"></app-tasks>
    </div>
    <div class="task-col">
      <app-tasks [tasks]="(taskService.ongoingTasks$ | async)!" [title]="'Ongoing'"></app-tasks>
    </div>
    <div class="task-col">
      <app-tasks [tasks]="(taskService.doneTasks$ | async)!" [title]="'Done'"></app-tasks>
    </div>
  </div>
</div>