.container {
  min-height: 100vh;
  min-width: 100%;
  background-color: #f9f8f8;
  padding: 0px 90px 0px 24px;
}

.add-button-container {
  padding: 36px 0px 56px 0px;
}

button {
  background-color: #6c5dd3;
  padding: 9px 16px;
  font-size: medium;
  font-weight: 500;
  color: white;
  border-radius: 8px;
  float: right;
  display: flex;
  gap: 1px;
  align-items: center;
}

.task-cols {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.task-col {
  // max-width: 570px;
}

@media only screen and (max-width: 1182px) {
  .container {
    padding: 0px 24px 0px 24px;
  }
}

@media only screen and (max-width: 991px) {
  .container {
    padding: 0px 24px 48px 24px;
  }

  button {
    padding: 8px 10px;
    font-size: medium;
    font-weight: 500;
    gap: 1px;
  }

  .task-cols {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 650px) {
  .add-button-container {
    padding: 36px 0px 48px 0px;
  }

  button {
    padding: 6px 12px;
    font-size: small;
    font-weight: 500;
    gap: 1px;
  }

  .task-cols {
    grid-template-columns: repeat(1, 1fr);
  }
}
