.card {
  background-color: white;
  max-width: 570px;
  display: flex;
  align-items: stretch;
}

mat-card {
  padding-block: 24px;
  border-radius: 8px;
  height: 160px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

mat-card-actions {
  padding: 0 16px;
  display: flex;
  justify-content: flex-start;
  gap: 5px;
}

p {
  color: #c8c8c8;
  font-size: 15px;
  padding: 0px 16px;
  word-wrap: break-word;
}

.update {
  background-color: #bff1df;
  color: #2eb67d;
  padding: 6px 10px;
  font-size: 15px;
  font-weight: 500;
  border-radius: 4px;
}

.delete {
  background-color: #f87171;
  color: #b91c1c;
  padding: 6px 10px;
  font-size: 15px;
  font-weight: 500;
  border-radius: 4px;
}
