.dialog-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.close-button {
  background-color: #dc2626;
  color: white;
  font-size: 20px;
  font-weight: 500;
  border-radius: 4px;
  height: 25px;
  width: 25px;
}

mat-dialog-content {
  display: flex;
  flex-direction: column;
  width: 700px;
  height: 200px;
}

mat-dialog-actions {
  display: flex;
  gap: 8px;
}

.add-button {
  background-color: #22d3ee;
  color: white;
  padding: 6px 10px;
  font-size: 15px;
  font-weight: 500;
  border-radius: 4px;
}

.cancel-button {
  color: #22d3ee;
  padding: 6px 10px;
  font-size: 15px;
  font-weight: 500;
  border-radius: 4px;
}

@media only screen and (max-width: 991px) {
  mat-dialog-content {
    width: 400px;
  }
}

@media only screen and (max-width: 550px) {
  h2 {
    font-size: 17px;
  }

  mat-dialog-content {
    width: 200px;
    height: 175px;
  }

  .close-button {
    height: 20px;
    width: 20px;
  }
}
