<form [formGroup]="resetPasswordForm">
    <p>Reset Password</p>
    <label for="email">Email</label>
    <input type="email" placeholder="Enter your email..." formControlName="email" id="email" name="email">
    <label for="password">New Password</label>
    <input type="password" placeholder="Enter new password..." formControlName="password" id="password" name="password">
    <div
        *ngIf="(resetPasswordForm.controls['password']?.dirty || resetPasswordForm.controls['password']?.touched) && resetPasswordForm.controls['password'].invalid">
        <mat-error *ngIf="resetPasswordForm.controls['password']?.hasError('required')">
            New password is required
        </mat-error>
        <mat-error *ngIf="resetPasswordForm.controls['password']?.hasError('minlength')">
            Password must be atleast 7 characters long
        </mat-error>
        <mat-error *ngIf="resetPasswordForm.controls['password']?.hasError('maxlength')">
            Password cannot have more than 11 characters
        </mat-error>
    </div>
</form>