.container {
  display: grid;
  place-items: center;
  min-width: 100%;
  padding: 150px 0px;
}

.form-content {
  max-width: 500px;
  margin-inline: auto;
  width: 100%;
}

.form-content form {
  width: 100%;
}

.fields {
  display: grid;
  gap: 16px;
}

.response-container {
  width: 100%;
  background-color: #f8c9ca;
  padding: 12px 16px;
  border-radius: 8px;
  margin: 8px 0px;
}

.response {
  color: #b91c1c;
}

.router-container {
  text-align: center;
}

.router-text {
  font-size: 14px;
  font-weight: 800;
}

.button-container {
  padding: 18px 0px;
}

.button {
  background-color: #4d47c3;
  padding: 18px 24px;
  font-size: medium;
  color: white;
  border-radius: 8px;
  width: 100%;
}

.op-text {
  font-size: xx-large;
  font-weight: 500;
  padding: 24px 0px;
}

.router {
  cursor: pointer;
  color: #4d47c3;
  font-weight: bold;
}
