<div class="dialog-header">
  <h2 mat-dialog-title>{{ heading }}</h2>
  <button mat-raised-button class="close-button" (click)="close()">
    <span>&times;</span>
  </button>
</div>
<mat-dialog-content [formGroup]="addTaskForm">
  <mat-form-field>
    <mat-label>Title</mat-label>
    <input matInput placeholder="Enter task title..." formControlName="title" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Content</mat-label>
    <input
      matInput
      placeholder="Enter task content..."
      formControlName="content"
    />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Status</mat-label>
    <mat-select placeholder="Choose task status..." formControlName="status">
      <mat-option *ngFor="let status of statusList" [value]="status.id">
        {{ status.value }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button
    mat-raised-button
    class="add-button"
    [disabled]="addTaskForm.invalid"
    (click)="addTask()"
  >
    Add Task
  </button>
  <button mat-raised-button class="cancel-button" (click)="close()">
    Cancel
  </button>
</mat-dialog-actions>
