.dialog-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.close-button {
  background-color: #dc2626;
  color: white;
  padding: 1px 6px;
  font-size: 20px;
  font-weight: 500;
  border-radius: 4px;
}

mat-dialog-content {
  display: flex;
  flex-direction: column;
  width: 700px;
  height: 200px;
}

mat-dialog-actions {
  display: flex;
  gap: 8px;
}

.add-button {
  background-color: #22d3ee;
  color: white;
  padding: 6px 10px;
  font-size: 15px;
  font-weight: 500;
  border-radius: 4px;
}

.cancel-button {
  background-color: #dc2626;
  color: white;
  padding: 6px 10px;
  font-size: 15px;
  font-weight: 500;
  border-radius: 4px;
}
