<div class="content">
  <div class="side-content">
    <p>Signing up to</p>
    <div class="icon">
      <img src="assets/icons/logo.png" />
      <p class="title"><span>Task Tracker</span>&nbsp;is simple</p>
    </div>
    <div class="promo">
      <div class="promo-text">
        Already have an account?
        <span class="router" [routerLink]="['/user/login']">Login here!</span>
      </div>
      <img src="assets/img/mascot.png" />
    </div>
  </div>
  <div class="form-content">
    <form [formGroup]="registerForm" (ngSubmit)="registerUser()">
      <p class="op-text">Sign Up</p>
      <div class="fields">
        <mat-form-field appearance="outline">
          <mat-label for="firstname">First Name</mat-label>
          <input
            matInput
            type="text"
            placeholder="Enter First Name..."
            formControlName="firstname"
            id="firstname"
            name="firstname"
          />
        </mat-form-field>
        <div
          *ngIf="
            (registerForm.controls['firstname']?.dirty ||
              registerForm.controls['firstname']?.touched) &&
            registerForm.controls['firstname'].invalid
          "
        >
          <mat-error
            *ngIf="registerForm.controls['firstname']?.hasError('required')"
          >
            First name is required
          </mat-error>
          <mat-error
            *ngIf="registerForm.controls['firstname']?.hasError('minlength')"
          >
            First name must have atleast 3 characters
          </mat-error>
          <mat-error
            *ngIf="registerForm.controls['firstname']?.hasError('maxlength')"
          >
            First name cannot have more than 128 characters
          </mat-error>
        </div>
        <mat-form-field appearance="outline">
          <mat-label for="lastname">Last Name</mat-label>
          <input
            matInput
            type="text"
            placeholder="Enter Last Name..."
            formControlName="lastname"
            id="lastname"
            name="lastname"
          />
        </mat-form-field>
        <div
          *ngIf="
            (registerForm.controls['lastname']?.dirty ||
              registerForm.controls['lastname']?.touched) &&
            registerForm.controls['lastname'].invalid
          "
        >
          <mat-error
            *ngIf="registerForm.controls['lastname']?.hasError('required')"
          >
            Last name is required
          </mat-error>
          <mat-error
            *ngIf="registerForm.controls['lastname']?.hasError('minlength')"
          >
            Last name must have atleast 2 characters
          </mat-error>
          <mat-error
            *ngIf="registerForm.controls['lastname']?.hasError('maxlength')"
          >
            Last name cannot have more than 128 characters
          </mat-error>
        </div>
        <mat-form-field appearance="outline">
          <mat-label for="email">Email</mat-label>
          <input
            matInput
            type="email"
            placeholder="Enter Email..."
            formControlName="email"
            id="email"
            name="email"
          />
        </mat-form-field>
        <div
          *ngIf="
            (registerForm.controls['email']?.dirty ||
              registerForm.controls['email']?.touched) &&
            registerForm.controls['email'].invalid
          "
        >
          <mat-error
            *ngIf="registerForm.controls['email']?.hasError('required')"
          >
            Email is required
          </mat-error>
          <mat-error *ngIf="registerForm.controls['email']?.hasError('email')">
            Please enter a valid email
          </mat-error>
        </div>
        <mat-form-field appearance="outline">
          <mat-label for="password">Password</mat-label>
          <input
            matInput
            type="password"
            placeholder="Enter Password..."
            formControlName="password"
            id="password"
            name="password"
          />
        </mat-form-field>
        <div
          *ngIf="
            (registerForm.controls['password']?.dirty ||
              registerForm.controls['password']?.touched) &&
            registerForm.controls['password'].invalid
          "
        >
          <mat-error
            *ngIf="registerForm.controls['password']?.hasError('required')"
          >
            Password is required
          </mat-error>
          <mat-error
            *ngIf="registerForm.controls['password']?.hasError('minlength')"
          >
            Password must be atleast 7 characters long
          </mat-error>
          <mat-error
            *ngIf="registerForm.controls['password']?.hasError('maxlength')"
          >
            Password cannot have more than 11 characters
          </mat-error>
        </div>
        <div class="response-container" *ngIf="errorResponse">
          <strong class="response">{{ errorResponse }}</strong>
        </div>
        <div class="button-container">
          <button class="button" [disabled]="registerForm.invalid">
            Register
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
