button {
  background-color: #4d47c3;
  padding: 8px 12px;
  font-size: 15px;
  font-weight: 500;
  color: white;
  border-radius: 4px;
}

.content {
  display: flex;
  flex-direction: row;

  .cards {
    padding: 15px 25px 80px;

    mat-card {
      background-color: white;

      mat-card-title {
        color: black;
      }

      mat-card-subtitle {
        color: #b6b6b6;
        font-weight: 400;
        font-size: 14px;
      }

      .update {
        background-color: #bff1df;
        color: #2eb67d;
        font-weight: 500;
      }

      .delete {
        background-color: #f87171;
        color: #b91c1c;
        font-weight: 500;
      }
    }
  }
}
