.container {
  min-height: 100vh;
  min-width: 100%;
  background-color: #f9f8f8;
  padding-inline: 120px;
}

.add-button-container {
  padding-block: 64px;
}

button {
  background-color: #6c5dd3;
  padding: 9px 16px;
  font-size: medium;
  font-weight: 500;
  color: white;
  border-radius: 8px;
  float: right;
  display: flex;
  gap: 1px;
  align-items: center;
}

::ng-deep div.mat-grid-tile-content {
  display: block;
}

//   mat-drawer-content {
//     display: flex;
//     flex-direction: row;
//     padding: 0px 32px;
//     gap: 24px;

//       .cards {
//         mat-card {
//           background-color: white;
//           border-radius: 6px;

//           mat-card-title {
//             color: black;
//           }

//           mat-card-subtitle {
//             color: #b6b6b6;
//             font-weight: 400;
//             font-size: 14px;
//           }
//         }
//       }
//     }

//     mat-grid-list {
//       width: 33%;
//       border-radius: 6px;

//       .cards {
//         mat-card {
//           background-color: white;

//           mat-card-title {
//             color: black;
//           }

//           mat-card-subtitle {
//             color: #b6b6b6;
//             font-weight: 400;
//             font-size: 14px;
//           }
//         }
//       }
//     }

//     mat-grid-tile {
//       width: 33%;
//       border-radius: 6px;

//       .cards {
//         mat-card {
//           background-color: white;

//           mat-card-title {
//             color: black;
//           }

//           mat-card-subtitle {
//             color: #b6b6b6;
//             font-weight: 400;
//             font-size: 14px;
//           }
//         }
//       }
//     }
//   }
// }
