<div class="container">
  <div class="add-button-container">
    <button mat-raised-button color="primary" (click)="openDialogToAdd()">
      <mat-icon>add</mat-icon>
      New Task
    </button>
  </div>
  <mat-grid-list cols="3" cdkDropListGroup>
    <mat-grid-tile>
      <app-tasks
        [tasks]="(taskService.todoTasks$ | async)!"
        [title]="'To Do'"
      ></app-tasks>
    </mat-grid-tile>
    <mat-grid-tile>
      <app-tasks
        [tasks]="(taskService.ongoingTasks$ | async)!"
        [title]="'Ongoing'"
      ></app-tasks>
    </mat-grid-tile>
    <mat-grid-tile>
      <app-tasks
        [tasks]="(taskService.doneTasks$ | async)!"
        [title]="'Done'"
      ></app-tasks>
    </mat-grid-tile>
  </mat-grid-list>
</div>
